* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-image: url(../images/drinkFinal.png);
    background-repeat: repeat;
    background-size: cover;
    overflow-y: auto;
  }
  
  h1 {
    font-family: "Oleo Script", system-ui;
  } 
  
  p {
    font-family: "Roboto", sans-serif;
  }