* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-image: url(../images/drinkFinal.png);
    background-repeat: repeat;
    background-size: cover;
    overflow-y: auto;
  }
  
  h1 {
    font-family: "Oleo Script", system-ui;
  } 
  
  p {
    font-family: "Roboto", sans-serif;
  }

  /* NAVBAR */
ul {
  list-style-type: none;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: #cc99ff;
}

.background-faces {
  position: relativ;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}