* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
}
/* spin wipe transition */
@keyframes spinWipeOut {
    0% {
        transform: scale(1) rotate(0deg);
        opacity: 1;
      }
      50% {
        transform: scale(0.5) rotate(720deg); /* Increase mid-animation scaling and rotation */
        opacity: 0.5;
      }
      100% {
        transform: scale(0) rotate(1440deg); /* Finish with an even larger rotation */
        opacity: 0;
      }
    }

.modal {
    background-color: #f9f5ec;
} 

.modal-content {
    background-color: #f9f5ec;
    height: 400px;
    width: 80%;
    margin: 15% auto;
    padding: 20px;
    border: 4px solid #888;
    /* Ensure the animation doesn't play immediately */
    animation-name: spinWipeOut;
    animation-duration: 8s;
    animation-fill-mode: forwards;
    animation-play-state: paused; /* Animation is paused until triggered by JS */
}

.mood-container {
    opacity: 0; /* Start invisible if it's supposed to appear after the modal */
    transition: opacity 0.8s ease-in-out;
  }

  /* Helper class to control the form's visibility */
.show-form {
    opacity: 1 !important;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Face Background */
.background {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #222;
    min-height: 100vh;
    overflow: hidden;
}

/* Happy Face Icons */
.happy {
    position: absolute;
    color: #222;
}

.happy::before {
    font-family: "Font Awesome 6 Pro";
    content: '\f118';
    font-weight: 100;
}

.happy.animate {
    color: rgb(217, 221, 117);
}


/* Sad Face Icons */
.sad {
    position: absolute;
    color: #222;
}

.sad::before {
    font-family: "Font Awesome 6 Pro";
    content: '\e376';
    font-weight: 100;
}

.sad.animate {
    color:rgb(217, 221, 117);
}


/* Drink Background */
.drinkBackground {
    position: absolute;
    z-index: 0;
}

/* Modal */
.container {
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: #0d0d0d;
    color: #ffffff;
    border-radius: 8px;
    box-shadow: #cc99ff 0px 0px 20px;
    padding: 20px;
    width: 80%;
    max-width: 600px;
}



/* Shaker */
.loading {
    z-index: 1;
}
