* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0d0d0d;
  background-image: url(../images/drinkFinal.png);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-family: "Oleo Script", system-ui;
}

p {
  font-family: "Roboto", sans-serif;
}

/* Spin wipe transition for modal */
@keyframes spinWipeOut {
  0% {
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }
  50% {
    transform: scale(0.5) rotate(720deg); /* Increase mid-animation scaling and rotation */
    opacity: 0.5;
  }
  100% {
    transform: scale(0) rotate(1440deg); /* Finish with an even larger rotation */
    opacity: 0;
  }
}

/* Modal */
.modal {
  background-color: #0d0d0d;
}

.modal-content {
  background-color: #0d0d0d;
  color: #f9f6ec;
  height: 400px;
  width: 80%;
  margin: 15% auto;
  padding: 20px;
  border: 4px solid #888;
  animation-name: spinWipeOut;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

.btnModal {
  border: 2px solid #f9f6ec;
}

.mood-container {
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
}

/* Helper class to control the form's visibility */
.show-form {
  opacity: 1 !important;
}

/* Navbar */
.navbar {
  background-color: #0d0d0d;
}

ul {
  list-style-type: none;
  color: gray;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: #cc99ff;
}

/* Drink Background */
.drinkBackground {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

/* Face Background */
.background {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

/* Happy Face Icons */
.happy {
  position: absolute;
  color: #0d0d0d;
}

.happy::before {
  font-family: "Font Awesome 6 Pro";
  content: "\f118";
  font-weight: 100;
}

.happy.animate {
  color: rgb(217, 221, 117);
}

/* Sad Face Icons */
.sad {
  position: absolute;
  color: #0d0d0d;
}

.sad::before {
  font-family: "Font Awesome 6 Pro";
  content: "\e376";
  font-weight: 100;
}

.sad.animate {
  color: rgb(217, 221, 117);
}

/* Mood Selector Container */
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: #151515;
  color: #ffffff;
  border-radius: 8px;
  box-shadow: #cc99ff 0px 0px 15px, #cc99ff 0px 0px 10px;
  padding: 20px;
  width: 80%;
  max-width: 600px;
}

.container h1 {
  font-size: 80px;
  color: #0d0d0d;
  text-shadow: 0 0 5px white, 0 0 5px #cc99ff;
}

.container p {
  font-size: 16px;
  color: #f9f6ec;
}

/* Mood Selector Form */
.form-select {
  background-color: #f9f6ec;
  color: grey;
  text-align: center;
}

.btnSubmit {
  position: relative;
  border: 1px solid #cc99ff;
  width: 35%;
}

@media screen and (max-width: 400px) {
  .container h1 {
    font-size: 60px;
  }
}

/* Shaker */
.loading {
  display: none; /* Hidden by default, will be displayed on form submission */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1050; /* High z-index to ensure it's above other content */
}

.loading .shaker {
  width: 100vw; /* Set appropriate size */
  height: auto;
  max-width: 700px;
  display: block;
  animation-duration: 4s; /* Duration set directly via JavaScript */
}
